.gitignore
.vscode
Python/*/__pycache__/
*.index
config.json
test_plugin_system.py
*.pyc
*.cache
*.old
currentmon*
gamingmon*
desktop*
mediacenter*
*.code-workspace
*.amgp
*.cfg
*.log
Launcher.spec
anattagen.spec
*.example
deploy_ui.ini
site_values.ini
clean.bat
uclean.bat
python.lnk
steam_filtered.txt
config.json
bin/*
!bin/
!bin/Launcher.exe
!bin/Launcher.python.exe
!bin/Launcher.bat
!bin/Launcher.sh
!bin/7z.exe
!bin/Shortcut.exe
!bin/Shortcut.txt
Python/app.log
assets/splash.png
assets/logo.png
build/
saves/
cache/
dist/
Profiles/
Launchers/
