*/__pycache__
*.index
normalized_steam_games.cache
python.lnk
steam_filtered.txt
Desktop.amgp
Player1.amgp
Player2.amgp
.vscode
config.json
Python/app.log
bin/Launcher.exe
bin/7z.exe
bin/antimicrox
bin/antimicrox/*